@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Exo:wght@200&family=Raleway:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*DEFINICIÓN DE VARIABLES COROLES*/
:root {
    --background-color1: #101713;
    --background-color2: #9fa3a1;
    --background-color3: #f19292;
    --font-color1:#ffffff;
}


header {
    background-color: var(--background-color1);
    height: 120px;
    color: var(--font-color1);
    padding: 20px;
    display: flex;
    align-items: center;
}

#logodrafabiola {
    width: 450px;
    height: 310px;
}

#logodra {
    border-radius: 5%;
    justify-content: end;
    width: 100px;
    height: 100px;
    margin-top: 100px;
}


main {
    
}


body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}


#formulario {
    margin-top: 40px;
    margin-left: 20px;
    display: inline-block;

}

section {
    background-color: var(--background-color3);
    

}

.mostrar {
    margin-top:30px;
    /*margin-left: 20px;*/
    
    display: inline-block;
}

.botones {
    width: 100%;
}

footer {
    background: var(--background-color1);
    height: 120px;
    color: var(--font-color1);
    padding: 20px;
    text-align: center;
}



/* Dispositivos con un ancho máximo de 600px */
@media (max-width: 600px) {
    header {
       background-color: var(--nombre-color);
       height: 550px;
       width: 100%;
       display: block;
    }

    header p {
        text-align:left;
    }

    main {
        width: 100%;
        margin-top:360px;
        gap: 12px;
    }

    main .article {
        gap: 12px;
    }

    .container {
        gap: 12px;
        width: 10%;
    }

    .article {
        width: 50%;
    }

    .blog {
        margin-bottom: 20px;
    }

    footer section {
        background-color: #000101;
    }

    footer section div {
        display:block;
    }
}
  