@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Exo:wght@200&family=Raleway:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*DEFINICIÓN DE VARIABLES COROLES*/
:root {
    --background-color1: #101713;
    --background-color2: #9fa3a1;
    --font-color1:#ffffff;
}


header {
    background-color: var(--background-color1);
    height: 120px;
    color: var(--font-color1);
}


main {
    background-color: var(--background-section1);   
}


body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}


#formulario {
    margin-top: 40px;
    margin-left: 20px;
    display: inline-block;

}

section {
    background-color: var(--background-color2)
    

}

.mostrar {
    margin-top:30px;
    margin-left: 20px;
}

.botones {

}

footer {
    background: var(--background-color1);
    height: 120px;
    color: var(--font-color1);
    margin-top: 40px;
}



/* Dispositivos con un ancho máximo de 600px */
@media (max-width: 600px) {
    header {
       background-color: var(--nombre-color);
       height: 550px;
       width: 100%;
       display: block;
    }

    header p {
        text-align:left;
    }

    main {
        width: 100%;
        margin-top:360px;
        gap: 12px;
    }

    main .article {
        gap: 12px;
    }

    .container {
        gap: 12px;
        width: 10%;
    }

    .article {
        width: 50%;
    }

    .blog {
        margin-bottom: 20px;
    }

    footer section {
        background-color: #000101;
    }

    footer section div {
        display:block;
    }
}
  